tmp/activities.csv filter=lfs diff=lfs merge=lfs -text
tmp/assay_descriptions.csv filter=lfs diff=lfs merge=lfs -text
config/all_activities.csv filter=lfs diff=lfs merge=lfs -text
config/all_molecules.csv filter=lfs diff=lfs merge=lfs -text
tmp/chembl_35_chemreps.txt filter=lfs diff=lfs merge=lfs -text
*/fingerprints.npy filter=lfs diff=lfs merge=lfs -text
